/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Lexend Deca', sans-serif;
  color: #444444;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
  transition-delay: 0.3s;
}

.hidden2 {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(+100%);
  transition-delay: 0.3s;
}

.showed {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

p.sectionIndicator{
  color: #709C82;
  font-size: 30px;
  font-weight: 400;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header#header {
  max-width: 1440px;
  margin: 0 auto;
}

header#header svg {
  position: absolute;
  right: 0;
}

header#header a {
  color: #ffff !important;
  font-weight: bolder;
}

div.navbar-nav {
  position: absolute;
  right: 0;
}

.navbar-nav button {
  width: 125px;
  height: 39px;
  border-radius: 50px;
  background: #FFF;
  color: #208C5B;
}

nav.navbar {
  margin-top: 20px
}

header.fixed-top {
  position: absolute !important;
}

.navbar-nav button {
  margin-right: 50px
}

header svg {
  overflow: visible;
}

a.nav-item {
  margin-right: 20px
}

a.nav-item:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 991px) {
  div.navbar-nav {
    position: inherit;
  }

  div.show {
    background-color: #178351;
    text-align: center;
    padding-bottom: 20px;
    margin: 0px;
  }

  div.navbar-nav .nav-item {
    background-color: #178351;

  }

  .navbar-nav button {
    margin-right: 0px;
  }

  .navbar-toggler {
    margin-right: 50px;
  }
}

/*--------------------------------------------------------------
# Top-donates 
--------------------------------------------------------------*/

.top-donates .titulo h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.top-donates .box {
  height: 30px;
  width: 200px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  margin-left: 300px;
}

.top-donates #box {
  width: 600px;
  padding-left: 250px;
  padding-top: 30px;
  border-radius: 30px;
}

.top-donates .box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
  color: black;
}

.top-donates .donates .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 900px;
  margin: 50px auto;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
  position: relative;

}

.top-donates .donates .card {
  position: relative;
}

.top-donates .profile-image {
  border-radius: 50%;
  position: absolute;
  width: 94px;
  height: 94px;
  left: -30px;
  top: 0;
  z-index: 10;
  border: 4px solid #D9D9D9;
}


.top-donates .name {
  flex-grow: 1;
  margin: 0 20px;
  font-size: 20px;
  margin-left: 100px;
}

.top-donates .btn {
  padding: 10px 20px;
  background-color: #3A8262;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}

.top-donates .btn:hover {
  background-color: #019E59;
}
