        body {
            background-color: #FFFFFF;
        }

        .background2 {
            position: absolute;
            margin-top: 100PX;
            top: 0;
            left: 0;
            z-index: -1;
            /* Isso coloca a div abaixo de outras camadas */
        }

        .background2 svg {
            width: 1920px;
            height: 1080px;
            flex-shrink: 0;
            overflow: visible;
        }

        #container {
            display: flex;
        }

        #sidebar {
            width: 170px;
            background-color: transparent;
            height: 1300px !important;
            color: #fff;
            padding: 20px;
        }

        #sidebar ul {
            margin-top: 100px;
            list-style: none;
            padding: 0;
        }

        #sidebar ul li {
            display: flex;
            flex-direction: column;
            /* Alinhar os itens em coluna (um em cima do outro) */
            justify-content: center;
            align-items: center;
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 35px;
            margin: 20px;
            width: 90px;
            height: 120px;
            transition: all ease-in 0.2s;
        }

        #sidebar ul li:hover {
            background-color: green;
            width: 100px;
            height: 130px;
            transition: all ease-in 0.2s;
        }
        #sidebar ul li:hover .icon-container img.icon{
            color: white !important;
        }

        #sidebar ul li .icon-container {
            margin-top: 10px;
            margin-bottom: 10px;
            /* Espaço entre a imagem e o parágrafo */
        }

        #sidebar ul li img {
            width: 45px;
            margin: 0;
            position: relative;
        }

        #sidebar ul li p {
            margin: 0;
            color: #6A6A6A;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #6A6A6A;
            display: none;
        }

        .container {
            max-height: 800px !important;
        }

        #main-content {
            margin-top: 100px;
            flex: 1;
            padding: 20px;
        }

        #profileresume {
            display: flex; /* Adiciona display flex para centralizar a .imagemperfil */
            justify-content: center;
            align-items: center;
            border-radius: 21px;
            background: #FFF;
            box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.25);
            width: 360px;
            height: 691px;
            flex-direction: column; /* Adiciona direção de coluna para centralizar verticalmente */
        }

        #profileresume .imagemperfil {
            width: 123px;
            height: 123px;
            flex-shrink: 0;
            border-radius: 200px;
            background-color: #D9D9D9;
        }

        #profileresume h2 {
            color: #000;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.39px;
        }

        #profileresume p {
            color: #1CC900;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.24px;
        }

        #profileresume button {
            color: #FFF;
            text-align: center;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.255px;
            width: 214px;
            height: 46px;
            border-radius: 18px;
            background: #019E59;
            margin-bottom: 20px;
            border-color: transparent;
        }

        #profileresume .caixa-detalhes {
            text-align: left;
            width: 313px;
            height: 67px;
            flex-shrink: 0;
            border-radius: 25px;
            background: #E8E8E8;
            box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.25);
            margin: 10px !important;
        }

        #profileresume .caixa-detalhes span {
            position: absolute;
            color: #9D9D9D;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            margin-left: 20px;
            margin-top: 15px;
        }

        #profileresume .caixa-detalhes p {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            margin-top: 30px;
            margin-left: 20px;
            text-align: left;
        }

        #exprojeto {
            margin: 9px;
            width: 31%;
            height: 164px;
            border-radius: 25px;
            background: #FFF;
            box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.25);
        }

        .row {
            padding: 10px;
        }


        #resumedoacoes {
            height: 486px;
            flex-shrink: 0;
            width: 100% ;
            border-radius: 22px;
            background: #FFF;
            box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.25);
        }
