body {
    max-width: 1440px;
    font-family: 'Lexend Deca', sans-serif;
    background-image: url(../img/backgroundeffect1.svg);
    padding-top: 155px;
}

/* Estilos Gerais */
.project-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para Cada Seção Específica */
.project-status,
.project-goal,
.project-description,
.project-partnerships,
.project-gallery,
.project-community-feedback,
.project-how-to-contribute,
.project-related-events,
.project-achievements,
.project-team {
    margin-bottom: 30px;
}

/* Estilos para Títulos de Seção */
.project-details h2,
.project-details h3 {
    color: #019E59;
}

/* Estilos para Texto do Projeto */
.project-details p {
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para Listas de Parcerias e Equipe do Projeto */
.project-details ul {
    list-style-type: none;
    padding: 0;
}

.project-details ul li {
    margin-bottom: 10px;
}

/* Estilos para Imagens na Galeria */
.project-details .project-gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para Botões ou Links Relevantes (pode ser adicionado conforme necessário) */
.project-details a {
    color: #019E59;
    text-decoration: underline;
}

/* Adicione mais estilos conforme necessário */
