body {
    max-width: 1440px;
    font-family: 'Lexend Deca', sans-serif;
    background-image: url(../img/backgroundeffect1.svg);
    padding-top: 155px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.projects-section h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 85px 0;
    margin: 0;
    height: 233px;
}

.projects-list {
    margin-left: 61px;
    margin-right: 61px;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    border-top: 1px solid #b9b6ac;
    width: calc(33.33% - 19.28px);
    margin-bottom: 65px;
}

.project:hover {
    cursor: pointer;
    border-top-color: #FA9333;
}

.project h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 300;
    color: #019E59;
    height: 14px;
}

.project p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    color: #B9B6B2;
    line-height: 15px;
}

.project h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    color: #052827;
    height: 60px;
}

.project img {
    margin-top: 25px;
    transition: transform 0.3s ease-in-out;
    max-width: 420px;
    max-height: 207px;
    width: 100%;
    height: auto;
}

.project img:hover {
    transform: scale(1.05);
}

div#MoreBtn {
    display: flex;
    justify-content: center;
}

button#showMoreBtn {
    margin-bottom: 50px;
    padding: 0;
    width: 248px;
    height: 52px;
    border-radius: 40px;
    border: 0;
    background: linear-gradient(91deg, #019E59 24.15%, #4C7864 103.74%);
    color: #ffff;
}

i.bi-arrow-up-short {
    order: 1px solid white;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #3A8262;
    font-size: 110%;
    color: white;
    transition: ease-in-out 0.1s;
    margin-top: 30px;
}

i.bi-arrow-up-short:hover {
    scale: 1.2;
}

.volunt {
    padding: 5px 20px;
    border-radius: 40px;
    background: linear-gradient(91deg, #019E59 24.15%, #4C7864 103.74%, rgba(1, 158, 89, 0.00) 160.58%);
    color: #ffff;
    border: 0px;
    margin-left: 61px;
    margin-bottom: 25px;
}

.volunt:hover {
    cursor: pointer;
    background: linear-gradient(91deg, #019E59 24.15%, #4C7864 103.74%, rgba(1, 158, 89, 0.00) 160.58%);
    text-decoration: underline;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #5F8564;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #5F8564;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1300px) {
    .projects-list .project {
        width: 48%;
        margin: 2%;
    }

    .projects-section {
        max-width: 1000px !important;
        margin: 0 auto;
    }

    .project-row{
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 600px) {
    .projects-list .project {
        width: 100%;
        margin: 2%;
    }
}

@media screen and (max-width: 393px) {
    body {
        max-width: 393px;
        padding-top: 155px;
    }

    .projects-section h1 {
        font-size: 35px;
        padding: 50px 0;
        height: 144px;
    }

    .projects-list {
        margin-left: 25px;
        margin-right: 25px;
    }

    .project-row {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .project {
        width: 100%;
        margin-bottom: 33px;
    }

    .project h3 {
        margin-top: 7px;
        font-size: 10px;
        height: 13px;
    }

    .project p {
        margin-top: 4px;
    }

    .project h2 {
        margin-top: 7px;
        font-size: 16px;
        height: 20px;
    }

    .project img {
        margin-top: 18px;
        max-width: 343px;
        max-height: 169px;
        width: 100%;
        height: auto;
    }

    button#showMoreBtn {
        font-size: 12px;
        margin-bottom: 50px;
        width: 140px;
        height: 30px;
    }
}