/*--------------------------------------------------------------
# Patrocinadores
--------------------------------------------------------------*/
#main {
  position: relative;
}

#section1,
#section2,
#section3 {
  z-index: 1;
  /* Garanta que essas divs apareçam acima da div de background */
}

.background {
  position: absolute;
  margin-top: 80PX;
  top: 0;
  left: 0;
  z-index: -1;
  /* Isso coloca a div abaixo de outras camadas */
}

.background svg {
  width: 1920px;
  height: 1080px;
  flex-shrink: 0;
  overflow: visible;
}

.background2 {
  position: absolute;
  margin-top: 790PX;
  top: 0;
  left: 0;
  z-index: -1;
  /* Isso coloca a div abaixo de outras camadas */
}

.background2 svg {
  width: 1920px;
  height: 1080px;
  flex-shrink: 0;
  overflow: visible;
}

@media only screen and (max-width: 765px) {

  .background {
    margin-top: 765px;
  }
  
  .background svg {
    width: 690px;
  }
  
  .background2 {
    margin-top: 1200px !important;
  }
  
  .background2 svg {
    width: 690px;
  }
}
@media only screen and (max-width: 1699px) {
  
  .background {
    margin-top: 65px;
  }
  
  .background svg {
    width: 1700px;
  }
  

  .background2 {
    margin-top: 640PX;
  }
  
  .background2 svg {
    width: 1700px;
  }
}

@media only screen and (max-width: 1000px) {
  
  .background {
    margin-top: 165px;
  }
  
  .background svg {
    width: 1000px;
  }
  

  .background2 {
    margin-top: 840PX;
  }
  
  .background2 svg {
    width: 1000px;
  }
}

/*--------------------------------------------------------------
# Section 1
--------------------------------------------------------------*/

.patrocinadores div#section1 {
  margin-top: 210px !important;
}

#section1 div#imgsecion1 img {
  width: 695px;
  height: 635px;
  flex-shrink: 0;
  margin-left: -70px;
}

#section1 h1 {
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.096);
  color: hsl(0, 0%, 0%);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#section1 span {
  color: #009C10;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.patrocinadores p {
  margin-top: 30px;
  color: #7E7E7E;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

button.green-btnpatroc {
  width: 138px;
  height: 50px;
  border-radius: 40px;
  background: linear-gradient(91deg, #019E59 24.15%, #4C7864 103.74%, rgba(1, 158, 89, 0.00) 160.58%);
  color: #ffff;
}

#texto {
  margin-top: 120px;
}

@media only screen and (max-width: 765px) {

  .container{
    max-width: 1200px;
  }

  .patrocinadores div#section1 {
    margin-top: 50PX !important;
    padding: 20px;
    text-align: center;
  }
  
  #section1 div#imgsecion1 img {
    width: 395px;
    margin-left: 0px;
    margin-top: 00px;
    margin-bottom: -140px !important;
  }
  
  #section1 h1 {
    font-size: 32px;
  }
  
  #section1 span {
    font-size: 32px;
  }
  
  
  .patrocinadores p {
    font-size: 18px;

  }
 
  #texto {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1699px) {
  .container{
    max-width: 1200px;
  }

  .patrocinadores div#section1 {
    text-align: left !important;
    margin-top: 150px !important;
    padding: 40px;
    text-align: center;
  }
  
  #section1 div#imgsecion1 img {
    width: 495px;
    margin-left: -20px;
    margin-top: -30px;
    margin-bottom: -200px;
  }
  
  #section1 h1 {
    margin-top: 50px;
    font-size: 32px;
  }
  
  #section1 span {
    font-size: 32px;
  }
  
  
  .patrocinadores p {
    font-size: 18px;

  }
 
  #texto {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .container{
    max-width: 1200px;
  }

  .patrocinadores div#section1 {
    text-align: left !important;
    margin-top: 150px !important;
    padding: 60px;
    text-align: center;
  }
  
  #section1 div#imgsecion1 img {
    width: 425px;
    margin-left: -20px;
    margin-top: -30px;
    margin-bottom: -200px;
  }
}

/*--------------------------------------------------------------
# Section 2
--------------------------------------------------------------*/

div#section2 {
  margin: 200px;
  padding: 0px 360px 0px 360px;
}

div#section2 h1 {
  color: #1D8F00;
  text-align: center;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.13);
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div#section2 p {
  margin-top: 30px;
  color: #7E7E7E;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
}

@media only screen and (max-width: 765px) {
  div#section2 {
    margin: 20px !important; 
    padding: 40px !important;
  }
  
  div#section2 h1 {
    font-size: 32px;
  }
  
  div#section2 p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1699px) {
  div#section2 {
    margin: 160px;
    padding: 0px 200px 0px 200px;
  }
  
  div#section2 h1 {
    font-size: 32px;
  }
  
  div#section2 p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  div#section2 {
    margin: 120px;
    padding: 60PX;
  }
}
/*--------------------------------------------------------------
# Section 3
--------------------------------------------------------------*/

div#section3 .texto {
  margin: 200px;
  margin-bottom: 60px;
  padding: 0px 360px 0px 360px;
}

div#section3 h1 {
  color: #1D8F00;
  text-align: center;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div#section3 p {
  margin-top: 30px;
  color: #7E7E7E;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
}

div#section3 .row {
  display: flex;
}

div#section3 .row .col-3 {
  width: 283px;
  height: 405px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #E0E0E0;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 765px) {
  div#section3 .texto {
    margin: 20px !important;
    margin-top: 60px !important;
    padding: 40px !important;
  }
  
  div#section3 h1 {
    font-size: 32px;
  }
  
  div#section3 p {
    font-size: 18px;
  }
  
  div#section3 .row {
    display: flex;
  }
}  

@media only screen and (max-width: 1699px) {
  div#section3 .texto {
    margin: 160px;
    padding: 0px 200px 0px 200px;
    margin-bottom: 50px;
  }
  
  div#section3 h1 {
    font-size: 32px;
  }
  
  div#section3 p {
    font-size: 18px;
  }
  
  div#section3 .row {
    display: flex;
  }
}

@media only screen and (max-width: 1000px) {
  div#section3 .texto {
    margin: 10px;
    padding: 20;
    margin-bottom: 50px;
  }
}
/*--------------------------------------------------------------
# Section 4
--------------------------------------------------------------*/

div#section4 .texto {
  margin: 200px;
  margin-bottom: 60px;
  margin-top: 100px;
  padding: 0px 360px 0px 360px;
}

div#section4 h1 {
  color: #1D8F00;
  text-align: center;
  text-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div#section4 p {
  margin-top: 30px;
  color: #7E7E7E;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
}
@media only screen and (max-width: 765px) {
  div#section4 .texto {
    margin-top: 100px !important;
    margin: 20px !important;
    padding: 40px !important;
    margin-bottom: -70px !important;
  }
  
  div#section4 h1 {
    font-size: 32px;
  }
  
  div#section4 p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1699px) {
  div#section4 .texto {
    margin: 160px;
    padding: 0px 170px 0px 170px;
    margin-bottom: 20px;
  }
  
  div#section4 h1 {
    font-size: 32px;
  }
  
  div#section4 p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  div#section4 .texto {
    margin-top: 100px !important;
    margin: 10px;
    padding: 20;
    margin-bottom: 20px;
  }
  
  div#section4 h1 {
    font-size: 32px;
  }
  
  div#section4 p {
    font-size: 18px;
  }
}
/*--------------------------------------------------------------
# Formulario
--------------------------------------------------------------*/

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #000000;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border-radius: 50px ;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background: #D1EFE2;
  color: rgb(0, 0, 0);
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  width: 200px;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background: linear-gradient(91deg, #019E59 24.15%, #4C7864 103.74%, rgba(1, 158, 89, 0.00) 160.58%);
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.07);
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
    0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}
