main#main{
  margin-top: 190px;
  position: relative;
}

div#herosvg object{
	width: 550px !important;
	text-align: center;
}

div#card-box{
	background-color: #33A76F;
	color: #ffff;
	padding: 10px;
	margin:5px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	font-size: smaller;
	transition: 0.2s;
}
div#card-box:hover{
	scale:1.1;
	cursor: pointer;
}

div.heroinfo {
    margin-top: 0px;
}

object{
	margin-top: 41px;
}
section#indexHero{
	padding-top: 29px;
}

section#indexHero h5{
	font-size: 25px;
}
p.sobreCardsInfor{
	border-top: 1px solid white;
	padding-top: 10px;
}

section#protecaoAmbiental{
	margin-top: 150px;
}

div.protecaoProj{
	transition: 0.2s;
	padding: 30px;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 2px 18.3px 0px rgba(0, 0, 0, 0.15);
	margin-bottom: 20px;
	line-height: auto;
}
div.protecaoProj h5{
	margin:0px;
}

div.protecaoProj:hover{
	scale:1.05;
}
div.protecaoProj span{
	float: right;
	display: block;
	border-left: 1px solid black;
	padding-left: 20px;
}

div#protecaoProjIdent1{
	border-left: 15px solid #33A76F;
}
div#protecaoProjIdent2{
	border-left: 15px solid #97A733;
}
div#protecaoProjIdent3{
	border-left: 15px solid #337DA7;
}

div#impactosocialinfo{
	padding-top: 160px;
	line-height: 20px;
}

h4#infoinfo{
	line-height: 35px;
}

div#protecaoAmbientalinfo{
	margin-top: 20px;
	text-align: -webkit-right;
}
div#protecaoAmbientalinfo h4{
	line-height: 35px;
}

section#QA{
	margin-top: 100px;
	margin-bottom: 100px;
}

section#QA object{
	width: 70%;
	margin: 0 auto;
}

div.QAtitle{
	text-align: -webkit-right;
	margin-bottom: 15px;
}
div#herosvg1 object{
    display: none;
}
section#impactosocial{
    margin-top: -230px;
}

div.video{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
    section#impactosocial{
        margin-top: -200px;
    }
    video{
        width: 340px;
        height: 190px;
        margin-top: 50px !important;
    }
    div#herosvg1 object{
        display: block !important;
        width: 350px;
        text-align: center;
    }
    div#herosvg2 object{
        display: none;
    }
    div#sobreCards{
        display: block !important;
    }
}

@media only screen and (max-width: 766px) {
    section#impactosocial{
        margin-top: -100px;
    }

    div#herosvg2{
        display: none;
    }

    div#herosvg1 object{
        text-align: center;
        display: block !important;
        width: 400px;
        text-align: center;
    }
}







