@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
body {
    font-family: "Lexend Deca", sans-serif;
    padding-top: 230px;
}
.card {
    background-color: #98b8aa; /* Adjust the color based on your theme */
    color: white; /* For the text color */
    border: none; /* Remove the default card border */
    border-radius: 20px; /* Rounded corners for the card */
}

.form-control {
    background-color: #ffffff; /* A lighter shade for the input fields */
    border: none; /* Remove the default input field border */
    color: white; /* For the input text color */
}

.form-control::placeholder {
    color: #ccc; /* Placeholder text color */
}

.form-label {
    color: #ffffff; /* Label text color */
}

.btn-primary {
    background-color: #208c5b; /* Adjust button color based on your theme */
    border: none; /* Remove the default button border */
}

.btn-primary:hover {
    background-color: #175e3e; /* A darker shade for the hover state */
}

