

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Lexend Deca', sans-serif;
  color: #444444;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  box-shadow: 0 0 5px grey; 
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header#header svg{
  position: absolute;
  right: 0;
}
header#header a{
  color:#ffff !important;
}

div.navbar-nav{
  position: absolute;
  right: 0;

}

main{
  margin-top: 190px;
}

.navbar-nav button{
  width: 125px;
  height: 39px;
  border-radius: 50px;
  background: #FFF; 
  color: #208C5B;
}

nav.navbar {
  margin-top:20px
}

header.fixed-top{
  position: absolute !important;  
}
.navbar-nav button{
  margin-right: 50px
}


@media only screen and (max-width: 991px) {
  div.navbar-nav{
  position: inherit;
  }
  div.show{
    background-color: #178351;
    text-align: center;
    padding-bottom: 20px;
    margin: 0px;
  }
  div.navbar-nav .nav-item{
    background-color: #178351;

  }
  .navbar-nav button{
  margin-right: 0px;
}
.navbar-toggler{
margin-right: 50px;
}
}


/*--------------------------------------------------------------
# Index - Hero
--------------------------------------------------------------*/

section#indexHero h1{
  color: #263238;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section#indexHero h5{
  color: #203347;
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 40px;
}

section#indexHero button.hero-btn1{
  width: 238px;
  height: 50px;
  border-radius: 40px;
  background: linear-gradient(91deg, #019E59 24.15%, #4C7864 103.74%, rgba(1, 158, 89, 0.00) 160.58%);
  color:#ffff;
}
section#indexHero button.hero-btn2{
  width: 238px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid #3A8262;
  background-color: #ffff;
  color: #3A8262;
}


/*--------------------------------------------------------------
# Index - Info Sections
--------------------------------------------------------------*/

div.info-row{
  margin: 0 auto;
  display: flex;
  width: 996px;
  height: 144px;
  border-radius: 100px;
  background: linear-gradient(180deg, #36985D 0%, #6A9B7E 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; 
}















