@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
body {
    font-family: "Lexend Deca", sans-serif;
    padding-top: 230px;
}
.card {
    background-color: #98b8aa; /* Adjust the color based on your theme */
    color: white; /* For the text color */
    border: none; /* Remove the default card border */
    border-radius: 20px; /* Rounded corners for the card */
}

.form-control {
    background-color: #ffffff; /* A lighter shade for the input fields */
    border: none; /* Remove the default input field border */
    color: #175e3e;
}

.form-control::placeholder {
    color: #ccc;
}


.btn-primary {
    background-color: #208c5b; /* Adjust button color based on your theme */
    border: none; /* Remove the default button border */
}

.btn-primary:hover {
    background-color: #175e3e; /* A darker shade for the hover state */
}

.form-group{
    display: none;
}

.caixa{
    padding: 40px 10px 20px 30px;
    border-radius: 25px;
    background-color: #fafafa;
    box-shadow: 2px 2px 2px 2px rgb(224, 224, 224);
    margin-top: 80px;
    margin-bottom: 25px;
    position: relative;
}

.fechar-caixa {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #ccc;
}

.fechar-caixa:hover{
    color: #7c7c7c;
}

h4{
    font-weight: bold;
}

