@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
body {
    font-family: "Lexend Deca", sans-serif;
    padding-top: 250px;
}

.pricing-header {
    text-align: center;
    margin: 2em 0;
}
.pricing-switch {
    text-align: center;
    margin-bottom: 1em;
}
.card {
    border: solid 1px rgb(87, 149, 87);
    border-radius: 30px 0px 30px 0px;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 0px 10px;
}
.card:hover {
    border: solid 2px rgb(87, 149, 87);
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.pricing {
    margin-bottom: 1.5em;
}
.price {
    font-size: 2.5em;
    margin: 0.5em 0;
}
.currency {
    font-size: 0.6em;
    position: relative;
    top: -10px;
}
.features {
    margin: 1em 0;
}
.btn-custom {
    border-radius: 20px;
    padding: 10px 25px;
}

.row{
    justify-content: center;
}

.features-section{
    margin-top: 100px;
    padding: 25px;
    background-color: #208C5B;
    justify-content: space-between;
}

.features-section h2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
    font-size: 30pt;
}

.feature-item{
    padding: 40px;
    margin-top: 30px;
}

.feature-item h3{
    color: rgb(255, 255, 255);
}
