/*--------------------------------------------------------------
# Top-donates
--------------------------------------------------------------*/
.top-donates,.doacoes,.sugestoes,.detalhesDoacao {
    margin-top: 180px;
}

.top-donates .titulo h2,.doacoes .titulo h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.top-donates .filtros {
    display: flex;
    padding: 30px;
    justify-content: center;
}
.top-donates .filtros .search-box{
    height: 35px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.top-donates .filtros .search-box input{
    width: 400px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.top-donates .filtros .search-box img{
    width: 25px;
}

.top-donates .box {
    height: 30px;
    width: 200px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-left: 300px;
}

.top-donates #box {
    width: 600px;
    padding-left: 250px;
    padding-top: 30px;
    border-radius: 30px;
}

.top-donates .box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    color: black;
}

.top-donates .switch {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 10px 30px;
}
.top-donates .switch input {
    appearance: none;
    width: 300px;
    height: 60px;
    border-radius: 25px;
    outline: none;
}
.top-donates .switch input::before,
.top-donates .switch input::after{
    z-index: 2;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    font-weight: bolder;
}
.top-donates .switch input::before{
    content: "Maior contribuidor";
    left: 20px;
}
.top-donates .switch input::after{
    content: "Mais recente";
    right: -90px;
}
.top-donates .switch label{
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 4px;
    border-radius: 20px;
}

.top-donates .switch input:checked::after,
.top-donates .switch input:checked::before{
    color: #1E1E1E;
    transition: color 0.5s;
}
.top-donates .switch input:checked::after{
    color: #fff;
    transition: color 0.5s;
}

.top-donates .switch input:not(checked) +label{
    left: 4px;
    right: 21px;
    background: #019E59;
    transition: left 0.5s, right 0.4s 0.2s;
}

.top-donates .switch input:not(:checked)::before{
    color: #fff;
    transition: color 0.5s;
}
.top-donates .switch input:not(:checked)::after{
    color: #1E1E1E;
    transition: color 0.5s 0.2s;
}
.top-donates .switch input:checked +label{
    left: 180px;
    right: -100px;
    background: #019E59;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}

.top-donates .donates .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    position: relative;

}

.top-donates .donates .card {
    position: relative;
}

.top-donates .profile-image {
    border-radius: 50%;
    position: absolute;
    width: 94px;
    object-fit: cover;
    height: 94px;
    left: -30px;
    top: 0;
    z-index: 10;
    border: 4px solid #D9D9D9;
}


.top-donates .name {
    flex-grow: 1;
    margin: 0 20px;
    font-size: 20px;
    margin-left: 100px;
}

.top-donates .btn {
    padding: 5px 40px;
    background-color: #019E59;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}
.top-donates .background {
    position: absolute;
    margin-top: 80PX;
    top: 0;
    left: 0;
    z-index: -1;
    /* Isso coloca a div abaixo de outras camadas */
  }

  .top-donates .background svg {
    width: 1920px;
    height: 1080px;
    flex-shrink: 0;
    overflow: visible;
  }
  /* DOAÇÕES */
.doacoes .container-doacoes .banner{
    display: flex;
    position: relative;
    height: 200px;
    align-items: center;
    width: 1000px;
    border-radius: 25px;
    margin: 10px 30px;
    background-color: #019E59;
}
.doacoes .container-doacoes .banner .text{
    margin: 0 45px;
    color: white;
    text-align: left;
}

.doacoes .container-doacoes .banner .text a{
    text-align: center;
}
.doacoes .container-doacoes .doar p{
    width: 120px;
    height: 30px;
    border-radius: 40px;
    border: 2px solid #3A8262;
    background-color: #ffff;
    color: #3A8262;
    margin-top: 10px;
}

.doacoes .container-doacoes .banner .text a:active,
.doacoes .container-doacoes .banner .text a:visited,
.doacoes .container-doacoes .banner .text a:checked,
.doacoes .container-doacoes .banner .text a:link,
.doacoes .container-doacoes .banner .text a:hover{
    color: white;
    text-decoration: none;
}
.doacoes .container-doacoes .banner .text a:hover{
    color: white;
    text-decoration: underline;
}


.doacoes .container-doacoes .filtros a:active,
.doacoes .container-doacoes .filtros a:visited,
.doacoes .container-doacoes .filtros a:checked,
.doacoes .container-doacoes .filtros a:link,
.doacoes .container-doacoes .filtros a:hover{
    color: #383838;
    text-decoration: none;
}


.doacoes .container-doacoes .banner .image{
    width: 35%;
    margin-right: 60px;
}
.doacoes .container-doacoes .filtros .search-box{
    margin: 20px  300px ;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    width: 800px;
}

.doacoes .container-doacoes .filtros .search-box input{
    width: 400px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.doacoes .container-doacoes .filtros .search-box img{
    width: 25px;
    margin-right: 10px;
}
.doacoes .container-doacoes .filtros .botoes{
    text-align: center;
    margin-bottom: 50px;
}
.doacoes .container-doacoes .filtros .botoes label{
    margin: 0 20px;
}
.doacoes .container-doacoes .filtros .botoes #all{
    background-color: #019E59;
    border-radius: 30px;
    padding: 10px 50px;
    color: white;
}
.doacoes .container-doacoes .filtros .botoes #localidade,.doacoes .container-doacoes .filtros .botoes #doacoes{
    padding: 10px 30px;
    border-radius: 30px;
}

.doacoes .container-doacoes .filtros .botoes #localidade:hover,.doacoes .container-doacoes .filtros .botoes #doacoes:hover{
    border: 2px solid #019E59;
}
.doacoes .container-doacoes .filtros .botoes li{
    list-style: none;
}
.doacoes .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    position: relative;

}

.doacoes .card {
    position: relative;
}
.doacoes .card .esq img{
    width: 100%;
}
.doacoes .card .dir .bar{
    height: 14px;
    background-color: lightgrey;
    border-radius: 20px;
}
.doacoes .card .dir .per{
    max-width: 85%;
    height: 14px;
    background-color: #019E59;
    position: relative;
    border-radius: 20px;
}
.doacoes .card .dir .texto-per #cinza{
    color: lightgray;
}
.doacoes .card .dir .texto-per .perc{
    text-align: right;
}
.doacoes .container-doacoes{
    max-width: 1920px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doacoes .paginas{
    display: flex;
    align-items: center;
    background: #fff;
    color: #383838;
    padding: 10px 40px;
    border-radius: 6px;
    justify-content: center;
}
.doacoes .paginas ul{
    margin: 20px 30px;
}
.doacoes .paginas ul li{
    display: inline-block;
    margin: 0 10px;
    background: lightgrey;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
}
.doacoes .paginas ul li:hover{
    color: #fff;
    background-color: #019E59;
}
/* Detalhe Doações */
.detalhesDoacao .container {
    text-align: center;
}
.detalhesDoacao .bannerD{
    display: flex;
    position: relative;
    height: 200px;
    align-items: center;
    border-radius: 25px;
    margin: 10px 30px;
    justify-content: center;
}
.detalhesDoacao .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    position: relative;

}
.detalhesDoacao .bannerD img{
    width: 400px;
}
.detalhesDoacao .content{
    justify-content: center;
    text-align: center;

}
.detalhesDoacao .content h4{
    font-size: 15px;
    font-weight: 600;

}
.detalhesDoacao .content  a{
    text-decoration: none;
    color: #019E59;

}
.detalhesDoacao .content a:hover{
    text-decoration: underline;
    color: #019E59;

}
.detalhesDoacao button{
    width: 500px;
    height: 50px;
    border-radius: 40px;
    background: linear-gradient(91deg, #019E59 24.15%, #4C7864 103.74%, rgba(1, 158, 89, 0.00) 160.58%);
    color: #ffff;
    border: 0px;
}
.detalhesDoacao button a:hover,.detalhesDoacao button a:active,.detalhesDoacao button a:visited,
.detalhesDoacao button a:checked,.detalhesDoacao button a:link{
    color: #ffff;
    text-decoration: none;

}


.detalhesDoacao .bar{
    width: 400px;
    height: 14px;
    background-color: lightgrey;
    border-radius: 20px;
}
.detalhesDoacao .per{
    max-width: 85%;
    height: 14px;
    background-color: #019E59;
    position: relative;
    border-radius: 20px;
}
.detalhesDoacao .texto-per #cinza{
    color: lightgray;
}
.detalhesDoacao .texto-per .perc{
    text-align: right;
}
/* Sugestões */
.sugestoes .container-sugestoes{
    max-width: 1140px;
    margin-inline: auto;
}

.sugestoes .titulo h2{
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}
.sugestoes .filtros {
    display: flex;
    padding-left: 30px;
    justify-content: left;
}
.sugestoes .adSuges{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.sugestoes .adSuges a:link,.sugestoes .adSuges a:active,.sugestoes .adSuges a:visited,.sugestoes .adSuges a:checked{
    color: #1E1E1E;
    text-decoration: none;
}
.sugestoes .adSuges a:hover{
    color: #019E59;
    text-decoration: none;
}
.sugestoes .filtros .search-box{
    height: 35px;
    display: flex;
    cursor: pointer;
    padding: 20px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.sugestoes .filtros .search-box input{
    width: 700px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.sugestoes .filtros .search-box img{
    width: 20px;
}
.sugestoes .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 50px auto;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    position: relative;

}
.sugestoes .page-link{
    color: #019E59;
    border: 1px solid #019E59;
    border-radius: 50%;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.sugestoes .pagination{
    justify-content: center;
    color: #019E59;
}
.sugestoes .page-item:first-child .page-link,.sugestoes .page-item:last-child .page-link  {
    border-radius: 0;
    border: none;
}

.sugestoes .page-item.active > .page-link{
    background-color: #019E59;
    border-color: #019E59;
    color: white;
}
.sugestoes .card {
    position: relative;
}

.sugestoes .profile-image {
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    width: 85px;
    height: 85px;
    left: 5px;
    top: 0;
    z-index: 10;
    border: 4px solid #D9D9D9;
    margin-top: 5px;
}
.sugestoes .profile-name {
    position: absolute;
    left: 5px;
    top: 85px;
    z-index: 10;
    font-weight: 600;
}


.sugestoes .name {
    flex-grow: 1;
    margin: 0 20px;
    font-size: 20px;
    margin-left: 100px;
}
.sugestoes .btn {
    background-color: #019E59;
    padding: 5px 20px;
    position: absolute;
    top:90px;
    left: 980px;
}
.sugestoes .btn img{
    width: 40px;
}
.sugestoes .containerED{
    display: flex;
}
.sugestoes .esq img{
    padding-top: 20px;
    width: 250px;
}

#modal-container {
    display: none;
    position: fixed;
    top: 190px;
    left: 0;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

#modal {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    max-width: 400px;
    margin: auto;
    text-align: center;
    position: relative;
}
#modalD {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    max-width: 800px;
    margin: auto;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
h2 {
    color: #333;
}

#modal #suges {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modalD #valor{
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#modalD #mens{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modalD #projeto{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modalD #metodo_pagamento{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modalD #referencia_multibanco_fields input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#modalD #anonimo {
    padding: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modalD #numero_cartao {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modalD #data_validade{
    width: 15%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modalD #cvv{
    width: 8%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modalD #numero_telemovel{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#modal button,#modalD button {
    background-color: #019E59;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal button:hover,#modalD button:hover {
    background-color: #02894f;
}
@media screen and (max-width: 1200px) {
    .sugestoes .container-sugestoes{
        max-width: 800px;
    }
    .sugestoes .filtros .search-box input{
        width: 300px;
    }
    .doacoes .container-doacoes .banner{
        width: 850px;
    }
}
@media screen and (max-width: 990px) {
    .top-donates .donates .card{
        max-width: 650px;
    }
    .doacoes .container-doacoes .banner{
        width: 700px;
    }
}

@media screen and (max-width: 900px) {
    .top-donates .filtros {
        flex-direction: column;
        align-items: center;
    }
    .top-donates .switch{
        margin-right: 150px;
    }
}
@media screen and  (max-width: 700px){
    .doacoes .card {
        width: 500px;
    }
}

@media screen and (max-width: 760px) {
    .top-donates .donates .card{
        max-width: 500px;
    }
    .top-donates .filtros .search-box input{
        width: 300px;
    }
    .doacoes .container-doacoes .banner{
        width: 500px;
    }

}
@media screen and (max-width: 580px) {
    .top-donates .donates .card{
        max-width: 350px;
        padding: 23px;
    }
    .top-donates .filtros .search-box input{
        width: 200px;
    }
    .doacoes .container-doacoes .banner{
        width: 300px;
    }
    .doacoes .card {
        width: 400px;
    }

}

